.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    animation-name: fade;
    animation-duration: 0.3s;
}

.modal__dialog {
    max-width: 500px;
    margin: 40px auto
}

.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    max-height: 80vh;
    overflow-y: auto
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modal__input {
    display: block;
}

.show {
    display: block
}

.hide {
    display: none
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}